* {
    box-sizing: border-box;
    
}

/*body {
    font-family: 'Roboto', sans-serif;
    display:flex; 
    flex-direction:column;
    height:100%;

}*/

/* NAV */
.nav-link {
    margin-right: 40px;
    /*margin-bottom: 10px;*/

}
.navbar-toggler-icon {
    color: white;
}

#btnCard,
#botonFiltro,
#a_inscribirme {
    color: white;
    background: linear-gradient(rgb(84, 190, 3), rgb(5, 121, 5), rgb(1, 81, 27));
}

/* EVENTOS */
#eventos h1, 
#inscripcionNiños h1{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

.card-img-top{
    padding: 5%;
    height: 200px;
}
.buttom{
    color: white;
    background: linear-gradient(rgb(84, 190, 3), rgb(5, 121, 5), rgb(1, 81, 27));
    
}

#carousel{
    width: 90%; 
    margin-bottom:20px
    

}
#imagenCarousel{
    height: 600px;
    
}


 /* Estilizar las casillas de verificación */
.star-label {
    display: inline-block;
    font-size: 35px; /* Tamaño de las estrellas */
    cursor: pointer;
    color: #888; /* Color de las estrellas no seleccionadas */
    margin-right: 5px; /* Espacio entre estrellas */
  }
  
  /* Estilizar las casillas de verificación seleccionadas */
  input[class="start"] {
    display: none; /* Ocultar las casillas de verificación */
  }
  
  input[class="start"]:checked + .star-label {
    color: #ffcc00; /* Color de las estrellas seleccionadas */
   
  } 
  
  
  
  

